<h1> All Posts </h1>
<%= link_to 'Submit a Post', new_post_path%>

<% @all_posts.each do |post|%>
  <ul>
    <li>
      <b><a href= "/posts/<%=post.id%>"><%= post.title%></a></b>
      <br><em><%= post.user.email%></em>
    </li>
  </ul>
<%end%>

